<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<h1>Nhân viên details</h1>
    <h3>ID: {{ object.id }}</h3>
    <h3>Name: {{object.name}}</h3>
    <h3>Bộ môn giảng dạy: {{object.bomon}}</h3>
    <h3>Khoa giảng dạy: {{object.khoa_gd}}</h3>
    <h3>Quê quán: {{object.quequan}}</h3>
    <h3>Ngày sinh: {{object.ngaysinh}}</h3>
    <h3>Adrress: {{ object.address }}</h3>
    <h3>mail: {{ object.email }}</h3>
    <h3>Sđt: {{ object.sdt }}</h3>
</center>
</body>
</html>